@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-fonts {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
/* body background color */
body{
    background-color: #F5F8FF;
}
/* nav bar design */
.navbar {
    background-color: #FFFFFF;
    list-style: none;
    justify-content: space-between;
    margin: 40px 164px 0 136px;
    text-align: center; 
   
    
}
.nav-links{
    list-style: none;
    gap: 42px;
    justify-content: center;
}
.nav-links a{
    text-decoration: none;
}
.shopping-cart{
    width: 24px;
    height:24px;
}
.nav-link{
    color: black;
    font-weight: 600;
}
.nav-linkss{
    color: #8987A1;
}
.nav-linksss{
    color: black;
}
.nav-item{
   margin-top: 10px;
}
/* hedaer related styles */
.container-1{
    margin: 110px 150px 0 150px;
}
.fresh{
    font-size: 4rem;
    font-weight: 700;
}

/* shared styles */
.display-flex{
    display: flex;
}
.common-color{
    color: #E95A08;
}
.text-color{
    color: #7A7C7F;
    font-size: 1.375rem;
}
.btn{
    background-color: #E95A08;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    padding: 19px 50px 19px 50px;
    width: 270px;
    height: 50px;
    text-align: center;
}
.title{
    font-size: 3.125rem;
    font-weight: bold;
}
/* section of plants  */
.plants{
    margin: 120px 150px 0 150px;
    background-color: #FFFFFF;
   
}
.plants-heading{
    text-align: center;
}
.lily{
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: 70px;
}
.price{
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 94.5px;
    margin-top: 20px;

}
.card--{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/* Flower and Plant lover */
.trusted{
    width: 286px;
    height: 286px;
    margin-top: -150px;
    margin-left: -160px;
}
.plants-lover{
    margin: 210px 150px 0 150px;
}
.flower-store{
    width: 540px;
    height: 597px;
}
/* latest deals */
.latest-heading{
    text-align: center;
    margin: 133px 150px 0 150px;
}

/* picture design */
.container-3{
    gap: 20px;
    margin: 120px 150px 120px 150px;
    
}
.both{
    display: grid;
    row-gap: 15px;
}
.bloom-plant{
    background-image: url(./assets/deal-bloom.png);
    border-radius: 14px;
    width: 367px;
    height: 201px;
    filter: brightness(70%);
}
.ana-plant{
    background-image: url(./assets/deal-ana.png);
    border-radius: 14px;
    width: 367px;
    height: 201px;
    filter: brightness(70%);
}
.zabo-plant{
    background-image: url(./assets/deal-zabo.png);
    border-radius: 22px;
    border-radius: 22px;
    width: 753px;
    height: 423px;
    filter:brightness(70%);
}
.text-padding{
    color: white;
    filter: brightness(100%);
    text-align: center;
    justify-content: center;
    padding: 65px 47px 64px 49px;
}
.text-paddingg{
     color: white;
    filter: brightness(100%);
    text-align: center;
    justify-content: center;
    padding: 172px 127px 201px 128px;

}
.decoration{
    text-decoration: underline;
}




/* responsive design for mobile phone */
@media screen and (max-width: 576px) { 
    .nav-links .nav-item:nth-child(1),
    .nav-links .nav-item:nth-child(2), 
    .nav-links .nav-item:nth-child(3) 
    {
        display: none;
        margin: 0 auto;
        justify-content: space-between;
    }
     .always {
  flex-direction: column-reverse;
}
}